/* *******************************Estilos generales*************************************** */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,900;1,600;1,800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #ecebe9;
  --second-color: #aba29c;
  --bg-color: #b4ccb7;
  --font-color: #3c2313;
  --logo-font-color: #3e721d;
  --clear-font-color: #ffffff;
  --form-color: #ecebe9;
  --soft-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  --nav-shadow: 7px 4px 5px 0px rgba(146, 142, 142, 0.55);
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

nav ul {
  list-style-image: url("/img/arbolito.png");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  align-items: center;
  background-color: #e2d5c4;
  box-shadow: var(--nav-shadow);
  padding: 30px 30px;
}

header div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-left: 20px;
}

header article {
  display: flex;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 30px;
}

header a {
  text-decoration: none;
  color: #76757a;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-shadow: var(--soft-shadow);
}

header a:hover {
  color: rgba(0, 0, 0, 0.1);
}

header img {
  width: 30px;
  margin: 0 5px;
}

.logo img {
  width: 120px;
}

.headerUl {
  display: flex;
  list-style-type: none;
}

.headerUl li {
  margin-right: 20px;
}

main {
  height: calc(100vh-62px-120px);
  background-color: var(--bg-color);
}

footer { 
  width: 100vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 120px;
  align-items: center;
  background-color: var(--second-color);
  padding-top: 10px;
  bottom: 0;
}

footer section {
  display: flex;
  justify-content: space-between;
}

footer div {
  display: flex;
  padding: 0.5rem;
  width: fit-content;
  background-color: white;
  border-radius: 9px;
  margin: 0.5rem 2rem;
}

footer div p {
  margin: 5px;
  color: var(--logo-font-color);
}

/* *********************************Estilos específicos************************************ */
/*  ======== index.html ========  */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .carousel {
  max-width: 600px;
}

.carousel-inner {
  margin: auto;
}
.carousel-item img {
  width: 40vw;
  border-radius: 10px; 
}

.carousel {
  margin: 2rem auto;
}


.texto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.texto div {
  display: flex;
  flex-direction: column;
  padding: calc(2rem + 5vh) 2rem;
  margin: .5rem;
  max-width: 900px;
  width: 100vw;
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-size: calc(1rem + .5vw); /* 1.6rem */
  color: #699487;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: var(--nav-shadow);
}

.texto img {
  max-height: 700px;
  height: calc(200px + 40vh)
}

.texto p:nth-child(1) {
  text-transform: uppercase;
}
.texto p:nth-child(2) {
  font-size: calc(1.5rem + 1vw);
}
.texto p:nth-child(3) {
  color: #bfae93;
}


/*  ======== login.html ========  */

.login section form {
  margin:0 auto 2rem auto;
}
.login section form div {
  width: 355px;
  margin: 0.7rem 0;
}

.login section form input {
  font-size: 0.7rem;
  width: 350px;
  height: 2.2rem;
  background-color: var(--clear-font-color);
  border-radius: 10px;
  border-width: 0px;
}

.login section form a:first-of-type {
  width: 79px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  color: var(--font-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  background: var(--second-color);
  border-radius: 10px;
  border-width: 0px;
  box-shadow: var(--soft-shadow);
}

.login section form a:first-of-type:hover {
  background: var(--bg-color);
  border: 0 outset #ecf8ec;
}

.login section form a > button {
  width: 100%;
  height: 100%;
}

.login section form a:nth-of-type(2) {
  text-decoration: none;
  color: var(--font-color);
  padding-top: 10px;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login section form a:last-of-type {
  margin-top: 15px;
  color: var(--font-color);
}

.login form {
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--main-color);
  box-shadow: 10px 10px 14px -2px rgba(0, 0, 0, 0.41);
  transition: all 0.8s ease-in-out;
  animation-duration: 1.5s;
  animation-name: fadeIn;
}

.login form img {
  width: 7rem;
  padding: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*  ======== registro.html ========  */

.formulario_regis {
  width: 900px;
  background: var(--form-color);
  padding: 22px;
  margin: 2rem;
  margin-left: 22rem;
  border-radius: 10px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000;
  box-shadow: 7px 13px 37px #000;
  animation-duration: 1.5s;
  animation-name: slideLeft;
}

@keyframes slideLeft {
  from {
    margin: 2rem -10rem;
  }

  to {
    margin-left: 22rem;
  }
}

.formulario_regis h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.4rem;
  padding: 1rem;
}

.formulario_regis input {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid gray;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.formulario_regis a {
  color: #000;
  text-decoration: none;
}
.formulario_regis p {
  height: 40px;
  text-align: center;
  font-size: 15px;
}

.formulario_regis a:hover {
  color: rgb(63, 50, 50);
  text-decoration: underline;
}

.formulario_regis .boton {
  width: 100%;
  background: var(--second-color);
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: var(--font-color);
  margin: 16px 0;
  font-size: 16px;
  box-shadow: var(--soft-shadow);
}

.formulario_regis .boton:hover {
  background: var(--bg-color);
  border: 0 outset #ecf8ec;
}


/*  ======== nosotros.html ========  */

.main-nosotros {
  background: var(--main-color);
  width: 100vw;
}

.main-nosotros p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
}

.mision li,
.vision li {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.nosotros {
  display: flex;
  flex-direction: column;
}

.nosotros h1,
.mision h2,
.vision h2 {
  color: #007305;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: calc(2rem + 3vw);
  justify-content: center;
}

.nosotros .imagen {
  align-self: center;
  width: 50vw;
}

.nosotros .imagen img {
  width: 100%;
}

/*  Separador de nosotros.html  */

.separador {
  background: #70863b;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.separador-mensaje {
  color: #fff;
  display: flex;
}

.separador-mensaje p {
  font-weight: 600;
  font-size: calc(1rem + 1.5vw);
  line-height: 3.8rem;
  align-self: center;
}

.separador .carousel img {
  border-radius: 0.5rem;
}

/* ======================= RESPONSIVIDAD ============================== */

/* **** Extra large xl **** */

@media only screen and (max-width: 1200px) {

  /* ______________________________________ */
  /* _____________Nosotros.html____________ */

  .main-nosotros {
    padding: 0 2rem;
  }

  /*-------------- Misión y Visión --------------*/

  .mision .row,
  .vision .row {
    justify-content: center;
  }

  .mision .imagen {
    width: 40vw;
  }
  .mision .imagen img {
    width: 100%;
  }
}


/* ** Medium md ** */

@media only screen and (max-width: 768px) {

  /* ______________*/
  /* ____home.html_____ */


  /* carousel */

  .home .carousel {
    width: 100vw;
  }

  .home .container-md {
    padding-left: 0; 
  }

  
  /* ______________ */
  /* ____Nosotros.html_____ */

  /* separador */

  .separador-mensaje,
  .separador .carousel {
    padding: 1rem !important;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
}

/* ** x- Small <576px ** */

@media only screen and (max-width:576px){
  
  footer {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }


  /* login.html */

  .login .container-sm {
    width: 97%;
    margin: auto;
  }
  .login form {
    padding: .5rem;
  }

  .login section form div,
  .login section form input {
    width: 250px;
  }
}



/* Arreglos aislados y -provisorios- */

@media only screen and (min-height: 800px) {
 
  /* _______________*/
  /* _____Login.html______ */
 
  .log footer {
    margin-top: calc(1rem + 22vh);
  }
}