@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,900;1,600;1,800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #ffffff;
  --second-color: #187449;
  --third-color: #555555;
  --dark-color: #000;
  --logo-font-color: #157347;
  --clear-font-color: #ffffff;
  --form-color: #ecebe9;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
}

/* __Barra de navegación y menú hamburguesa__ */

.navegacion {
  position: fixed;
  width: 100%;
  background: var(--main-color);
  z-index: 999;
  top: 0;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  max-height: 70px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  background: var(--main-color);
}

.navMenu a {
  text-decoration: none;
  color: var(--second-color);
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

.headerUl a {
  color: var(--second-color);
  font-size: 1.7rem;
}

header .logo img {
  width: 110px;
}

.navMenu a {
  width: min-content;
}

header .navMenu a:hover,
.navLinks a:hover {
  text-decoration: underline;
}

.navTop {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 3rem;
  margin-bottom: 0;
  list-style: none;
  font-size: 1.3rem;
  align-items: center;
  z-index: 999;
}

header .btn {
  color: var(--second-color);
  border-color: var(--second-color);
}

header .btn-outline-success:hover {
  background: var(--second-color);
  color: var(--main-color);
}

.banner {
  margin-top: 150px;
}

/* Submenu de tienda */
.dropdown-menu {
  background: var(--main-color);
  padding: 1.5rem;
  margin-top: 1rem !important;
  margin-left: -4rem !important;
  border-radius: 1rem;
  border: var(--second-color) solid 1px;
}

.dropdown-menu::before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent var(--second-color) transparent;
  position: absolute;
  top: -15px;
  margin-left: 4rem;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--second-color);
}

.dropdown-menu li {
  padding: 0.3rem 0;
}

.dropdown-menu li a {
  text-shadow: none;
  font-weight: 400;
  font-size: 1rem;
}

.dropdown-menu li:first-child a {
  font-weight: 600;
}

.headerUl {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  gap: 1.5rem;
}

/* Boton menu hamburguesa */
.hamMenu {
  cursor: pointer;
  display: none;
}

.hamMenu span {
  display: block;
  background-color: #007305;
  height: 3.4px;
  width: 35px;
  margin: 7px auto;
  border-radius: 2px;
}

/* BANNER */
.bg-success {
  background: var(--second-color) !important;
}

/* Footer */

footer {
  color: rgb(255, 255, 255);
  background-color: var(--second-color);
  padding: 1.5rem;
  bottom: 0;
  position: relative;
  z-index: 30;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding: .2rem;
}

footer h5 {
  padding-left: 2rem;
  /* color: #ffff75; */
  color: var(--main-color);
  font-weight: 700;
}

footer a {
  color: var(--main-color);
  text-decoration: none;
}

footer a:focus,
footer a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

footer p {
  font-size: .8rem;
  padding: 0;
  margin: .2rem 1rem;
}

footer i {
  color: #fff;
  font-size: 1.8rem;
  padding-top: .1rem;
  padding-right: .3rem;
}

footer i:focus,
footer i:hover {
  color: #95FF9A;
  transform: scale(1.1);
}

footer form {
  padding-left: 2rem;
}

footer form input {
  width: 100px;
}

footer .form-control {
  width: 175px;
}

.form-control:focus {
  border-color: #007305;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #146730;
}

footer .btn {
  border-color: var(--main-color);
  color: var(--main-color);
}

footer .btn-outline-success:hover {
  border: var(--third-color);
  color: var(--second-color);
  background: var(--main-color);
}

footer .container {
  margin: auto;
  padding: 0;
}



/* *********************************Estilos específicos************************************ */
/*  ======== index.html ========  */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderFs {
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  z-index: 0;
  object-fit: fill;
}

.carousel-indicators {
  margin-bottom: 14vh;
}

/*  ======== registro.html ========  */

.forms {
  background-image: url(../img/fondo_hojas1.jpg);
  background-size: cover;
  padding: 2rem;
}

.formulario_registro,
.formulario_contacto {
  background: var(--main-color);
  border: solid rgba(128, 128, 128, 0.274) 2px;
  border-radius: .5rem;
  max-width: 600px;
}

.formulario_registro input,
.formulario_contacto input,
.formulario_contacto textarea {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
}

/* Inicio con facebook y google */
.forms .btn {
  margin-top: 25px;
  padding: .6rem;
  width: 100%;
  font-family: 'Montserrat Regular';
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.forms .btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.forms .btn-facebook:hover,
.forms .btn-facebook:focus {
  background: #30487B;
  color: #fff;
}

.forms .btn-google-plus {
  color: white;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.forms .btn-google-plus:hover,
.forms .btn-google-plus:focus {
  background-color: #ca3523;
}

/* Modales */
.modalRegistro {
  list-style: none;
}

.modalRegistro li {
  padding: .4rem 0;
}

/*  ======== nosotros.html ========  */

.main-nosotros {
  background: var(--bg-color);
  width: 100vw;
}

.main-nosotros p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
}

.mision li,
.vision li {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.nosotros {
  display: flex;
  flex-direction: column;
}

.nosotros h1,
.mision h2,
.vision h2 {
  color: #007305;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: calc(2rem + 3vw);
  justify-content: center;
}

.nosotros .imagen {
  align-self: center;
  width: 50vw;
}

.nosotros .imagen img {
  width: 100%;
}

/*  Separador de nosotros.html  */

.separador {
  background: #198754;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.separador-mensaje {
  color: #fff;
  display: flex;
}

.separador-mensaje p {
  font-weight: 600;
  font-size: calc(1rem + 1.5vw);
  line-height: 3.8rem;
  align-self: center;
}

.separador .carousel img {
  border-radius: 0.5rem;
}

/* ____TIENDA.html_____ */

/* --Productos-- */
.card-footer {
  display: flex;
  flex-direction: column;
}
.card-footer div {
  padding: 0.2rem;
}
.card-footer .btn {
  max-width: 300px;
  width: 100%;
}

/* ======================= RESPONSIVIDAD ============================== */

/* **** Extra large xl **** */

@media only screen and (max-width: 1200px) {
  /* ______________________________________ */
  /* _____________Nosotros.html____________ */

  .main-nosotros {
    padding: 0 2rem;
  }

  /*-------------- Misión y Visión --------------*/

  .mision .row,
  .vision .row {
    justify-content: center;
  }

  .mision .imagen {
    width: 40vw;
  }
  .mision .imagen img {
    width: 100%;
  }
}

@media only screen and (max-width: 966px) {
  .hamMenu {
    display: block;
    position: absolute;
    top: 17px;
    right: 80px;
  }
  .navMenu {
    flex-direction: column;
    align-items: initial;
    position: relative;
    width: 100vw;
    padding: 8px 15px;
    max-height: none;
  }
  .navMenu .logo {
    margin: 0;
    padding: 0;
  }

  .navLinks {
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 0;
    margin: 1rem 0;
    gap: 0;
    background: #ecebe9;
    list-style: none;
    display: none;
    opacity: 0;
  }

  .navLinks.active {
    display: flex;
    animation: fade 0.5s ease-in-out both;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navLinks li {
    margin: 1rem;
    font-size: 1.5rem;
  }

  .navMenu .logo img {
    width: 120px;
  }

  .logBtn {
    display: flex;
    padding-top: 1rem;
    gap: 1rem;
  }

  .logBtn a {
    border-radius: 10px;
    padding: 0.7rem 1rem;
    background: #007305;
    color: var(--clear-font-color);
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: var(--soft-shadow);
  }

  .logBtn :last-child a {
    background: var(--second-color);
    color: var(--font-color);
  }

  .headerUl {
    display: flex;
    list-style: none;
  }
  .headerUl li:first-child {
    display: none;
  }
  .cartBtn {
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .headerUl :first-child img {
    width: 40px;
  }

  .hamTop.active {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  .hamMid.active {
    opacity: 0;
  }
  .hamBot.active {
    transform: rotate(45deg) translate(-7px, -8px);
  }

  /* Submenu de tienda */
  .dropdown-menu {
    background: var(--main-color);
    padding: 0.1rem 1rem;
    margin: 0 !important;
    width: 100% !important;
    border: none;
    position: relative;
  }

  .dropdown-menu li {
    line-height: 0.1rem;
  }

  .dropdown-toggle {
    padding: 0 !important;
  }

  .dropdown-menu.show {
    position: relative !important;
    transform: translate3d(-1rem, 1rem, 0) !important;
  }

  /* ____Tienda.html____ */
}

/* ** Medium md ** */
@media only screen and (max-width: 768px) {
  /* ______________*/
  /* ____home.html_____ */

  /* carousel */

  .home .carousel {
    width: 100vw;
  }

  .home .container-md {
    padding-left: 0;
  }

  /* ______________ */
  /* ____Nosotros.html_____ */

  /* separador */
  .separador {
    justify-content: center;
  }

  .separador .row,
  .separador .carousel {
    width: 100%;
  }

  .separador-mensaje,
  .separador .carousel {
    padding: 1rem !important;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
}

/* ** x- Small <576px ** */

@media only screen and (max-width: 576px) {
  footer {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }

  /* login.html */

  .login .container-sm {
    width: 97%;
    margin: auto;
  }
  .login form {
    padding: 0.5rem;
  }

  .login section form div,
  .login section form input {
    width: 250px;
  }
}

/* Arreglos aislados y -provisorios- */

@media only screen and (min-height: 800px) {
  /* _______________*/
  /* _____Login.html______ */

  .log footer {
    margin-top: calc(1rem + 22vh);
  }
}
